header {
    background-color: #FF8DAF; background: -moz-linear-gradient(left, #FF8DAF 0%, #FFAECF 50%, #FF8DAF 100%); background: -webkit-linear-gradient(left, #FF8DAF 0%, #FFAECF 50%, #FF8DAF 100%);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #fcfcfc;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

body {
background-color: #FFDFEC;
background: -moz-radial-gradient(center, #FFDFEC 0%, #FFC8D1 50%, #FFC0CA 100%);
background: -webkit-radial-gradient(center, #FFDFEC 0%, #FFC8D1 50%, #FFC0CA 100%);
background: radial-gradient(ellipse at center, #FFDFEC 0%, #FFC8D1 50%, #FFC0CA 100%);
text-align: center;

}       

Button {
text-align: center;
display: flex;
color: rgb(0, 0, 0); font-size: 15px; line-height: 15px; padding: 8px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(255, 141, 175) 0%, rgb(255, 174, 207) 50%, rgb(255, 141, 175) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(255, 151, 186); display: inline-block;}
.myButton:hover {
background: #FF8DAF; }
.myButton:active {
background: #FF8DAF; }