body {
    background-color: #ffe6f2;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

/* Main Header */
.centerMain {
    background-color: #FF83B4;
background: -moz-linear-gradient(top, #FF83B4 0%, #FFCDF0 50%, #FF83B4 100%);
background: -webkit-linear-gradient(top, #FF83B4 0%, #FFCDF0 50%, #FF83B4 100%);
background: linear-gradient(to bottom, #FF83B4 0%, #FFCDF0 50%, #FF83B4 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
    padding: 60px 60px 90px;
    margin: 0;
}

/* Intro */
body > p:nth-of-type(1),
body > p:nth-of-type(2) {
    text-align: center;
    background-color: #ffa6c7;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

/* Navigation Section */
.navigationBar {
    background-color: #ffd1e6;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 30px;
}

.navigationBar a {
    text-decoration: none;
    color: #ff41a0;
    font-weight: bold;
}

.navigationBar a:hover {
    color: #eb0680;
}

/* Headings boxes */
h3,
#educationalBackground,
#contactInformation {

    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    color: #ff7db1;
}

h2
{
  max-width: 200px;
    margin: 30px auto;
    text-align: center;
    color: #ff7db1;
    font-size: 30px;
    margin-top: 30px;
}

/* Project Boxes*/
p{
    background-color: #fff8fa;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

/* Paragraphs */
p {
    text-align: center;
}

/* Images */
img {
    width: 300px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    border: 4px solid #ff99c8;
}

/* Table */
table {
    width: 80%;
    margin:30px auto;
    border-collapse: 30px;
    text-align: center;
}



td,
th {
    padding: 13px;
}

/* Form */
form {
    width: 70%;
    margin: 30px auto;
    background-color: #ffd6ea;
    padding: 20px;
    border-radius: 20px;
}

/* Inputs */
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ff99c8;
    border-radius: 5px;
    margin-top: 5px;
}

/* Buttons */
input[type="submit"],
input[type="reset"] {
    background-color: #ff69a6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    .myButton {
        
color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(rgb(255, 131, 180) 0%, rgb(255, 200, 226) 50%, rgb(255, 131, 180) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #FF83B4; }
.myButton:active {
background: #FF83B4; }
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ff4f94;
}